[phases.setup]
nixPkgs = ["php82", "php82Extensions.pdo_mysql", "nodejs", "composer"]

[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader",
  "npm install",
  "npm run build"
]

[start]
cmd = "php -S 0.0.0.0:$PORT -t public"
